* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: rgb(220, 230, 241);
}

body,
.homePage {
  background-color: rgb(220, 230, 241);
  margin: 0 auto;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

#imageTitle,
h2 {
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  font-weight: 200;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleHeader {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

#imageContent,
img {
  height: 500px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hovering:hover {
  cursor: pointer;
}

#counter {
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  position: absolute;
  right: 0;
  margin-right: 190px;
  margin-top: 167px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

#imageTitle,
h2 {
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  font-weight: 200;
  font-size: 18px;
  display: flex;
  position: relative;
}

.headerImg {
  width: 50px;
  height: 50px;
}

.loginInput,
form {
  padding-top: 2px;
}

.homeInput,
li {
  list-style-type: none;
}

#wrapper {
  overflow: hidden;
  border: 0px solid #000;
  margin: 100px auto;
  padding: 10px;

}

#wrapperHome {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 0px solid rgb(255, 255, 255);
  padding: 10px, 0, 0;
  height: 180px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

#wrapperViewPost {
  background-color: #000;
  width: 375px;
  height: 10%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 5px auto;
  padding: 5px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.fileName {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;  
} 

.commentBox{
  display: flex;
  justify-content: center;
}

.mainPosts {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
}


.home-content {
  width: 250px;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 20px 50px;
}

.view-content {
  width: 250px;
  height: 660%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.header {
  border: 0px solid #000;
  margin: 0 auto;
}

.header img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  height: 75px;
  position: relative;
}

.formInput {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  outline: none;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: white;
}

.checkboxStyle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #4b4b4b;
  font-weight: normal;
  font-size: 9px;
  line-height: 1.1;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  padding-left: 3px;
}

#cb1 {
  accent-color: #000000;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.btn {
  display: block;
  margin-top: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  border-radius: 3px;
}

.homeBtns {
  margin: 3px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}

.button-list {
  margin-top: 113px;
  padding: 0;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100%;
}

.or {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.signup {
  width: 250px;
  height: 40%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;

}

.searchBox {
  margin-top: 150px;
  padding: 0;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100%;
}

#searchForm {
  background-color: #000000;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchInput {
  all: unset;
  font: 12px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

#searchInput,
::placeholder {
  color: #fff;
  opacity: 1;
}

.searchButton {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.svg {
  color: #fff;
  fill: currentColor;
  width: 17px;
  height: 17px;
  padding: 12px;
}

.post {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.resize {
  width: 385px;
  height: auto;
}

.Author {
  position: absolute;
  left: 280px;
}

.Date {
  position: absolute;
  left: 575px;
}

.postTitle {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.postDescription {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  padding-bottom: 170px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.user {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
}
.userPolicy{
  float: left;
  margin-left: 5px;
  margin-bottom: 10px;
}